<div class="earning-container">
  <h3>Earning by Location</h3>

  
  <img src="assets/icons/worldMap.jpg" alt="World Map" class="map-img" />

  
  <div class="bar-container" *ngFor="let earning of earnings">
    <div class="label">
      {{ earning.country }}
    </div>
    <div class="bar-wrapper">
      <div class="bar" [ngStyle]="{ width: earning.percentage + '%', backgroundColor: earning.color }"></div>
    </div>
    <div class="percentage">
      {{ earning.percentage }}%
    </div>
  </div>
</div> 