<div class="sidebar">
  <div class="logo">
    <div class="fw-bold fs-4 mb-3 ms-2">fusion<span class="text-danger">.</span>net</div>
</div>

  <div class="sidebar_menu">
    <div class="menu-item active" routerLink="/home" routerLinkActive="active">
      <img src="assets/icons/homeicon.png" class="icon-img" alt="Home Icon" /> Home
    </div>

    <div class="menu-item active" routerLink="/dashboard" routerLinkActive="active">
      <img src="assets/icons/dashboardicon.png" class="icon-img" alt="Dashboard Icon" /> Dashboard
    </div>

    <hr class="custom-divider" />


    <div class="section">CALL CENTRE</div>

    <div class="menu-item active" routerLink="/calls" routerLinkActive="active">
      <img src="assets/icons/menuicon.png" class="icon-img" alt="Calls Icon" /> Calls
    </div>

    <div class="menu-item active" routerLink="/claims" routerLinkActive="active">
      <img src="assets/icons/menuicon.png" class="icon-img" alt="Claims Icon" /> Claims
    </div>

    <hr class="custom-divider" />

    <div class="menu-item active" routerLink="/areacode" routerLinkActive="active">
      <img src="assets/icons/sellicon.png" class="icon-img" alt="Area Codes" /> Area Codes
    </div>

    <div class="menu-item ">
      <img src="assets/icons/sellicon.png" class="icon-img" alt="Body Locations" /> Body Locations
    </div>

    <div class="menu-item">
      <img src="assets/icons/sellicon.png" class="icon-img" alt="Branches" /> Branches
    </div>

    <div class="menu-item ">
      <img src="assets/icons/sellicon.png" class="icon-img" alt="Provinces" /> Provinces
    </div>

    <div class="menu-item">
      <img src="assets/icons/sellicon.png" class="icon-img" alt="Countries" /> Countries
    </div>

    <div class="menu-item ">
      <img src="assets/icons/menuicon.png" class="icon-img" alt="Claim Centres" /> Claim Centres
    </div>

    <div class="menu-item ">
      <img src="assets/icons/documenticon.png" class="icon-img" alt="Documents" /> Documents
    </div>

    <div class="menu-item ">
      <img src="assets/icons/vouchericon.png" class="icon-img" alt="Voucher Info" /> Voucher Info
    </div>
  </div>
</div>




