<div class="topbar">
    <div class="topbar-left">
      <span class="menu-dots">⋯</span>
    </div>
    <div class="topbar-right">
      <div class="last-login">Last Login Date: {{ currentDateTime }}</div>
      <div class="user-details">
        <img class="avatar" src="assets/icons/adminicon.png" alt="User" />
        <div class="welcome-text">
          Welcome <strong>Rakesh</strong>
        </div>
        <span class="dropdown-icon">▾</span>
      </div>
    </div>
  </div>
  
  <div class="breadcrumb-bar">
    <div class="breadcrumb-left">
      <span class="breadcrumb">Dashboard /</span>
      <span class="breadcrumb">{{ currentPage }}</span>
    </div>
  
    <div class="topbar-right">
      <div class="last-login">{{ currentDateTime }}</div>
    </div>
  </div>



  